{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h4 class="mb-4">
        {% if not edit %}
        <img src="{{MEDIA_URL}}/icons/Create.png">  Create Employee
        {% else %}
        <img src="{{MEDIA_URL}}/icons/Update.png">  Update Employee
        {% endif %}
    </h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="float-right">
            <a href="{% url 'employees:list-employees' %}" class="btn btn-secondary">Back</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
{% endblock %}